.b_search {
  width: 300px;
  text-align: center;
  border-radius: 8px;
  height: 35px;
  border-style: dotted;
  border-color: rgb(4, 113, 203);
}
.header-container{
  width: 100%;
  height: fit-content;
  background-color: rgb(60, 62, 65);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 3px;
  box-shadow: 10px 10px 10px  rgb(4, 113, 203) ;
  border-radius: 12px;
}
.h1 {
  font-size: 26px;
  color: white;
}
.p1 {
  font-size: 17px;
  color: white;
  font-weight: 700;
}