/* NavBar-css */


.navbar-container {
width: 100%;
height: 3rem;

display: flex;
justify-content: space-between;

}

/* navbar left container-css */
.navbar-container > .left-container {
 
  padding: 5px;
  margin: 0;

  display: flex;
  justify-content: space-evenly;
}


 .navbar-container > .left-container .icon-container > i {
  position: relative;
  bottom: 3px;

  font-size: 25px;
  color: #fff9ff;
}

.navbar-container > .left-container > .homepage-link-container {
  color: #fff9ff;

}


/* navbar right container-css */

.navbar-container > .right-container {
width: 220px;
padding: 10px;
  margin: 0;


display: flex;
justify-content: space-evenly;

}

.navbar-container > .right-container > .services-link-container > h3 {
  font-size: 18px;
  color: #fff9ff;
}
.navbar-container > .right-container > .about-us-link-container > h3 {
  font-size: 18px;
  color: #fff9ff;
}

